div(ng-controller='HallQuickviewController', ng-show='quickviewVisible')
	div quickview address
	input(ng-model='hall.id', disabled)
	input(ng-model='hall.name')
	input(ng-model='hall.addr_id', disabled)
	typeahead(
		typeahead-id-model='hall.addr_id',
		typeahead-value-model='hall.addr',
		typeahead-api-endpoint='addresses',
		typeahead-value-column='addr'
	)
	input(ng-model='hall.status', disabled)
	input(ng-model='hall.basis_id_hall', disabled)
	input(ng-model='hall.rmb_menu1', disabled)
	input(ng-model='hall.objversion', disabled)
	button(ng-click='save()') Save




	//- typeahead(
	//- 	typeahead-id-model='hall.id'
	//- 	typeahead-text-model='hall.addr'
	//- 	typeahead-api-endpoint='addresses'
	//- 	typeahead-api-text-column='addr'
	//- 	typeahead-api-id-column='addr_id'
	//- 	typeahead-autocomplete-columns=''
	//- 	typeahead-where-columns=''
	//- 	typeahead-allow-empty-value='false'
	//- )

	//- typeahead(typeahead-endpoint='addresses', typeahead-fields='id,addr', typeahead-id='hall.id', typeahead-text='hall.addr')
	//- input(type='text', list='addresses', autocomplete='on')
	//- datalist(id='addresses')
	//- 	option(value='text') text
	//- 	option(value='text2') text3

	//- typeahead
		//- option(ng-repeat='item in items', value='item.id') {{item.text}}



	//- input(ng-model='word')
	//- span(habra-habr-work='word', habra='NehabraParent')
	//- 	span(habra-habr-work='word', habra='NehabraChild')
	//- pre {{log}}











	//- typeahead(items='items', prompt='Start typing', title='abbreviation', subtitle='name', model='abbreviation', on-select='onItemSelected()')


	//- typeahead(
	//- 	typeahead-url='http://localhost:9004',
	//- 	typeahead-endpoint='addresses'
	//- 	typeahead-columns='addr_id,name',
	//- 	typeahead-id='hall.addr_id',
	//- 	typeahead-text='hall.addr'
	//- 	typeahead-where='hall.id'
	//- )











	//- typeahead(
	//- 	api-endpoint='addresses'
	//- 	fields='addr_id,addr'
	//- )	ng-model='hall.addr_id'
	

	//- h4 Static arrays
	//- pre Model: {{selCode | json}}
	//- input(
	//- 	type="text"
	//- 	ng-model="selCode" 
	//- 	typeahead="country.code as country.name for country in countries | filter:$viewValue | limitTo: 8" 
	//- 	class="form-control"
	//- 	typeahead-editable='false'
	//- )














	//- angucomplete(
	//- 	placeholder="Search countries",
	//- 	pause="100",
	//- 	selectedobject="selectedCountry",
	//- 	localdata="countries",
	//- 	searchfields="name",
	//- 	titlefield="name",
	//- 	minlength="1",
	//- 	inputclass="form-control form-control-small",
	//- 	matchclass="highlight"
	//- )


//- <angucomplete id="ex1" placeholder="Search countries" pause="100" selectedobject="selectedCountry" localdata="countries" searchfields="name" titlefield="name" minlength="1" inputclass="form-control form-control-small" matchclass="highlight" />




	angucomplete(
		placeholder='Placeholder',
		selectedobject='object',

	)

//- <angucomplete id="members"
//-               placeholder="Search members"
//-               pause="400"
//-               selectedobject="testObj"
//-               url="http://myserver.com/api/user/find?s="
//-               datafield="results"
//-               titlefield="firstName,surname"
//-               descriptionfield="email"
//-               imagefield="profilePic"
//-               inputclass="form-control form-control-small"/>